* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}



/* Header */

header {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6900;
    padding: 1.1rem 8rem 1.1rem 8rem;
    position: fixed;
    box-shadow: 10px 0px 10px black;
    z-index: 10;
}

.header-text-block a {
    margin-right: 0.2em;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 700;
    color: white;
}

.logo {
    width: 7rem;
    vertical-align: bottom;
}

.header-icon {
    font-size: 0.9em;
    color: white;
    margin-left: 0.2em;
}


/* Corpo della pagina */

.main {
    padding-top: 4rem;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

main .container {
    padding-top: 6.5rem;
} 

.card {
	width: calc((100% - 2rem) / 3);
	min-width: 200px;
	float: left;
	margin-bottom: 2rem;
}

.card:nth-child(3n+2) {
	margin-right: 1rem;
	margin-left: 1rem;
}

.card .top-content {
	position: relative;
}

.card img {
	width: 100%;
}

.card .img-positioned {
	position: absolute;
	top: 0;
	left: 0;
}

.card:hover {
	cursor: pointer;
}

.card:hover .img-positioned {
	visibility: hidden;
}

.card .heart {
	position: absolute;
	top: 1.5rem;
	right: 0;
	background-color: white;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	line-height: 2.5rem;
	font-size: 2rem;
}

.card .tags-container {
	position: absolute;
	bottom: 1.5rem;
	left: 0;
	font-size: 0; 
}

.sales-text {
    display: inline-block;
    padding: 0.4em 1.1em;
    background-color: red;
    color: white;
    font-size: 0.6rem;
    font-weight: 800;
}

.eco-text {
    display: inline-block;
    padding: 0.4em 1.1em;
    font-size: 0.6rem;
    font-weight: 800;
    background-color: green;
    color: white;
}

.brand-text {
    display: block;
    font-size: 0.7rem;
}

.model-text {
    display: block;
    font-size: .8em;
    font-weight: 700;
}

.price-text {
    display: inline-block;
    font-size: .7rem;
    font-family: 700;
    text-decoration:line-through;    
}

.discounted-price-text {
    display: inline-block;
    font-size: .7rem;
    font-weight: 800;
    color: red;
}

.price-text {
    margin-top: -1em;
}


/* Footer */

footer {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1.3rem 8rem;
}

.name-company {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    color: white;
}

.name-company-links {
    display: inline-block;
    margin-top: 0.5em;
    font-size: 0.7rem;
    text-decoration: none;
    color: white;
}

.footer-social {
    display: block;
    font-size: 0.7rem;
    font-weight: 600;
    color: white;
}

.footer-icon-block {
    margin-top: 0.4em;
}

.footer-icon {
    font-size: 0.9em;
    margin-right: 0.1em;
    color: white;
}

.card-pic.under:hover {
    display: none;
}

.heart:hover {
    color: red
}