* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}



header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6900;
    padding: 1.1rem 8rem 1.1rem 8rem;
    position: fixed;
    box-shadow: 10px 0px 10px black;
}


.header-text-block a {
    margin-right: 0.2em;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 700;
    color: white;
}

.logo {
    width: 7rem;
    vertical-align: bottom;
}

.header-icon {
    font-size: 0.9em;
    color: white;
    margin-left: 0.2em;
}



main {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 6rem 8rem 6rem 8rem;
}

.card {
    width: calc(33.3% - 2rem);
    position: relative;
    z-index: -1;
}


.card-pic {
    width: 100%;
}

.card-pic.over {
    z-index: 0;
    
}


.card-pic.under {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    
}


.card-content {
    display: flex;
    justify-content: space-between;
}

.sales {
    position: absolute;
    top: 78.5%;
}





.sales-text {
    display: inline-block;
    padding: 0.4em 1.1em;
    background-color: red;
    color: white;
    font-size: 0.6rem;
    font-weight: 800;
}

.eco-text {
    display: inline-block;
    padding: 0.4em 1.1em;
    font-size: 0.6rem;
    font-weight: 800;
    background-color: green;
    color: white;
}

.brand-text {
    display: block;
    font-size: 0.8rem;
}

.model-text {
    display: block;
    font-weight: 500;
}

.price-text {
    display: inline-block;
    font-size: 0.8rem;
    font-weight:500;
    color: red;
    
}

.discounted-price-text {
    display: inline-block;
    font-size: 0.8rem;
    text-decoration:line-through;
}


.heart {
    display: block;
    position: absolute;
    top: 2%;
    right: 0;
    background-color: white;
    font-size: 1.2em;
    padding: 0.5em;


}


footer {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1.3rem 8rem;
}

.name-company {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    color: white;
}

.name-company-links {
    display: inline-block;
    margin-top: 0.5em;
    font-size: 0.7rem;
    text-decoration: none;
    color: white;
}

.footer-social {
    display: block;
    font-size: 0.7rem;
    font-weight: 600;
    color: white;
}

.footer-icon-block {
    margin-top: 0.4em;
}

.footer-icon {
    font-size: 0.9em;
    margin-right: 0.1em;
    color: white;
}





.heart:hover {
    color: red
}

