* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}



header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: orange;
    flex-wrap: nowrap;
}


.header-icon {
    max-width: 100px;

}

.header-text-block {
    width: 200px;
}

.header-icon-block {
    width: 100px;
}


main {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 3.5rem 10rem 3.5rem 10rem;
}

.card {
    width: calc(33.3% - 2rem);
    position: relative;
    z-index: -1;
}






.card-pic {
    width: 100%;

    margin-top: 50px;
}


.card-content {
    display: flex;
    justify-content: space-between;
}

.sales {
    position: absolute;
    bottom: 15%;
}





.sales-text {
    display: inline-block;
    padding: 10px;
    background-color: red;
    color: white;
}

.eco-text {
    display: inline-block;
    padding: 10px;
    background-color: green;
    color: white;
}

.brand {
    display: block;
}

.model-text {
    display: block;
}

.price-text {
    display: inline-block;
}

.discounted-price-text {
    display: inline-block;
}

.heart-container {

}

.heart {
    position: absolute;
    bottom: 83.5%;
    right: 0;
    background-color: white;
    padding: 0.6em;
    /* display: inline-block; */
}




